@media (max-width: 480) {
    nav{
        padding: 10px 15px;
    }
    .JNV{
        font-size: 25%;
        padding-left: 0;
        padding-top: 5px;
        
    }
    nav ul{
        font-size: 20px;
    }
}
body{
padding-top: 70px;
}

nav{
     display: flex;
     background: black;
     justify-content: space-between;
     align-items: center;
     padding: 10px 20px;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 1000;
}
nav ul{
    display: flex;
    list-style: none;
    font-size: 30px;
    margin: 0;
    padding: 0;
    
   
}
nav ul a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.JNV{
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    color: burlywood;
    
    font-weight: lighter;
    padding: 0;
    margin: 0;
    font-weight: lighter;
}

.selection{
    text-align: center;
    font-size: 20px;
    color: black;
    text-shadow: 1px 1px 4px black;
}
.articles img{
    width: 100%;
    height: auto;
    display: block;
    

}
h3{
    font-weight: lighter;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: burlywood;
    text-shadow: 1px 1px 4px black;
}
button{
    color: white;

}
.btn-cmd{
   border-radius: 20px;
    font-size: 25px;
    background-color: black;
}
.produit-text{
    text-align: center;
    padding: 20px;
    color: white;
    border-top: 1px solid white;
    
}

.articles{
    width: 350px;
    background-color: black;
    border-radius: 25px;
    overflow: hidden;
   
}
.liste-articles{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
