*{
    box-sizing: border-box;
}

@media screen and (max-widht: 480px){
    h1{
        font-size: 20px;
        margin-left: 5%;
    }
    .presentation p{
        font-size: 15px;
        padding: 10px 10px;
    }
    
}


html, body{
    max-width: 100%;
    padding: 0;
    margin: 0;
    
}

header{
    background-image: url(images/hair.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    
}
body{
    margin: 0;
}
h1{
    color:burlywood;
    font-weight: lighter;
}
.nova{
    color: #9a685b;;
}
.beauty{
    color: burlywood;
}
h2{
    margin-right: 20px;
}
body{
    padding: 0;
    margin: 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
   
    border-bottom: 1px solid rgba(255, 255, 255, 0,15);
    padding: 1px 3%;
    box-sizing: border-box;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
    
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: beige;
    font-size: 20px;
    color: burlywood;
}
.presentation{
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 10%;
    width: 90%;
    position: relative;
    left: 30px;
  
}
.presentation h2,
.presentation p{
    text-shadow: 1px 1px 4px black;
    
}

.decouvrir{
    text-align: center;
    margin-top: 30px;
}
.decouvrir ul{
    list-style: none;

}
.decouvrir a{
    text-decoration: none;

}

.btn{
    font-size: 30px;
    border: 2px solid ;
    cursor: pointer;
    transition: 0.3s;
    padding: 20px;
    background: transparent;
    color: beige;
    position: relative;
    top: 30px;
    margin-left: -40px;
    
}
.btn:hover{
    background-color: white;
    color: black;
    transform: scale(1.05);
    border: 2px solid white;
}
